apiVersion: apps/v1
kind: Deployment
metadata:
  name: fcg-paymentsapi
  labels:
    app: fcg-paymentsapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fcg-paymentsapi
  template:
    metadata:
      labels:
        app: fcg-paymentsapi
    spec:
      containers:
      - name: fcg-paymentsapi
        image: fcg-paymentsapi:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:8081"
        - name: RabbitMq__HostName
          value: "rabbitmq-service"
        - name: RabbitMq__Port
          value: "5672"
        - name: RabbitMq__UserName
          value: "guest"
        - name: RabbitMq__Password
          value: "guest"
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
