apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
data:
  # Valores codificados em Base64 (ex: echo -n "guest" | base64)
  # guest -> Z3Vlc3Q=
  username: Z3Vlc3Q=
  password: Z3Vlc3Q=
