apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-api
  namespace: fcg-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-api
  template:
    metadata:
      labels:
        app: catalog-api
    spec:
      containers:
      - name: catalog-api
        image: fcg-catalog-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_URLS
          value: http://+:8080
        - name: ConnectionStrings__DbFcg
          value: "Host=postgres;Port=5432;Database=fcg_catalog_db;Username=fcguser;Password=fcgpass"
        - name: RabbitMq__HostName
          value: rabbitmq
        - name: RabbitMq__Port
          value: "5672"
        - name: RabbitMq__UserName
          value: guest
        - name: RabbitMq__Password
          value: guest
---
apiVersion: v1
kind: Service
metadata:
  name: catalog-api
  namespace: fcg-system
spec:
  selector:
    app: catalog-api
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080
      nodePort: 30001
  type: NodePort
