apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api
  namespace: fcg-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      initContainers:
      - name: wait-for-postgres
        image: busybox
        command: ['sh', '-c', 'until nc -z postgres 5431; do echo waiting for postgres; sleep 2; done;']
      containers:
      - name: users-api
        image: fcg-users-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_URLS
          value: http://+:8080
        - name: ConnectionStrings__DbFcg
          value: "Host=postgres;Port=5431;Database=fcg_users_db;Username=fcguser;Password=fcgpass"
---
apiVersion: v1
kind: Service
metadata:
  name: users-api
  namespace: fcg-system
spec:
  selector:
    app: users-api
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080
      nodePort: 30004
  type: NodePort
